body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background: #000;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/coffeehouse.jpg");
  min-height: 50%;
}

.menu {
  display: none;
}

.centerThing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.important {
    font-size: 20;
    font-weight: bolder;
    text-align: center;
    margin: 10px auto 0 auto;
    line-height: 36px;
    padding:5px 0px 15px 10px;
}

.bigFont {
    font-size: 42;
    font-weight: bolder;
    text-align: center;
    margin: 10px auto 0 auto;
    line-height: 55px;
    padding: 5px 0px 15px 0px;
}

.viridian {
    color: #98C9D1;
}

.violet {
    color: #FA77E7;
}

.vitellary {
    color: #D2C356;
}

.vermillion {
    color: #FF4848;
}

.verdigris {
    color: #4CE071;
}

.victoria {
    color: #4C4EE0;
}

.tab {
    background-color: #000;
}

.w3-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}